body {
	margin: 5px;
}

tbody {
	color: black;
}

a {
	color: black;
	style: none;
}

.table {
	color: #BD0808;
	background-color: #FAFAF0;

}

.head {
	color: "black";
	width: 50px
}

#button {
	margin-bottom: 5px;
	float: right;	
}

#title {
	text-align: center;
}