<!DOCTYPE HTML>
<html>
<head>
<meta charset="UTF-8">
    <title><%= title %></title>
    <meta name="description" content="Restaurants Around The Bay Area">
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="Restaurants | Restaurants Around The Bay Area."/>
    <meta property="og:url" content="https://maaaryle.github.io"/>
    <meta property="og:image" content="http://www.skiholidaysmariaalm.com/wp-content/uploads/2012/06/posterfoodlogoforkknifeprint-892aae035d3c5a05bf4a00bb38c3b320_h.jpg"/>
    <meta property="og:site_name" content="maaaryle.github.io"/>
    <meta property="og:description" content="Decide on what you want to eat in seconds."/>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="http://www.parsecdn.com/js/parse-1.2.19.min.js"></script>
    <script src="http://builds.handlebarsjs.com.s3.amazonaws.com/handlebars-v2.0.0.js"></script>
    <script src="index.js"></script>

</head>

<header>
    <h1><%= title %></h1>
</header>

<body>
	<form action="orderpage.html" method="POST">
	            
	            <!--IMAGE-->
	    <div>
	        <img src="http://www.skiholidaysmariaalm.com/wp-content/uploads/2012/06/posterfoodlogoforkknifeprint-892aae035d3c5a05bf4a00bb38c3b320_h.jpg">
	    </div>

	            <!--RESTAURANT LIST & MENU ITEMS-->
	    <section>
	        <!-- <select id="restaurantList"><option>Please Select Restaurant</option></select> -->
	        <select id='restListContainer'></select>
	        <ul id="menuItems"></ul>
	    </section>

	            <!--TOTAL ITEM COUNT & PRICE-->
	    <section>
	        <div id="count"></div>
	        <div id="total"></div>
	    </section>

	            <!--USER INPUT-->
	    <section class="userInput">
	        <div>
	            <lable>phone</lable>
	            <input id="phone" name="text" required placeholder="(xxx)xxx-xxxx">
	        </div>
	        <div>
	            <lable>email</lable>
	            <input id="email" type="email" name="email" required placeholder="email address">
	        </div>
	        <div>
	            <lable>comments</lable>
	            <input id="comments" type="comment" name="comment" required placeholder="additional comments">
	        </div>
	    </section>


	            <!--SUBMIT BUTTON-->
	    <div>
	    <a href="orderpage.html"><button id="submit" type="submit">Submit Order</button></a>
	    </div>

	            <!--THE END!!-->
	    <footer>COPYRIGHTS!!</footer>


	</form>

<script id="resList" type="text/x-handlebars-template">
    {{#each list}}
        <option class="restaurant" href="#" id="{{id}}">{{attributes.Name}}</option>
    {{/each}}
</script>

<script id="itemList" type="text/x-handlebars-template">
    {{#each list2}}
        <li class="item" data-source="{{attributes.Restaurant_ID}}"><input type="checkbox" data-price={{attributes.Price}}  class="checked">{{attributes.Title}} -- ${{attributes.Price}}</li>
    {{/each}}
</script>

</body>
</html>
